body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 1rem;
}

.header {
  display: flex;
  justify-content: first baseline;
}

.stats {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 5rem;
}

.picture {
  width: 18rem;
  height: 18rem;
  border: 2px solid yellow;
}

.LetterChoise {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  border-bottom: 2px solid black;
  gap: 2em;
  
}

.allButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 1.5rem;
  margin: 1rem;
  width: 26rem;
}